<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Trusting Social
    link(rel="stylesheet", href="https://rsms.me/inter/inter-ui.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:700,700i")
    link(rel="stylesheet", href="assets/css/style.css")
    link(rel="shortcut icon", href="assets/img/ts-icon-16.png")
    link(rel="apple-touch-icon", href="assets/img/ts-icon-57.png")
    link(rel="apple-touch-icon", href="assets/img/ts-icon-72.png", sizes="72x72")
    link(rel="apple-touch-icon", href="assets/img/ts-icon-114.png", sizes="114x114")
  body

    header
      .container
        .header-left
          a(href='#')
            img(src="assets/img/trusting-social-logo.svg", alt="Trusting Social logo")
        .header-right
          ul
            li
              a(href='#').active Home
            li
              a(href='#') Solutions
            li
              a(href='#') Customers
            li
              a(href='#') Jobs
            li
              a(href='#') About
            li
              a(href='#') Contact
    main
      section.index-hero
        .container
          .index-hero__left
            h1 Credit
              br
              | Scoring 
              br
              | 2.0
            p Make lending faster, cheaper, and friendlier.
          .index-hero__right
            img(src="assets/img/Home_page_Banner.png", alt="")
      section.index-intro
        .container
          .index-intro__right
            h2 The Big Competitive Edge
            p Lenders are dependent on limited credit bureau data and outdated credit scoring technologies.
          .index-intro__left
            .index-intro__left-items
              .index-intro__left-item(style="background-image: url('assets/img/capture-untapped-markets.png')")
                h3 Capture untapped markets
                p 4.5 billions consumers worldwide are financially excluded just because banks do not have data on them. Our solution helps banks connect, understand and lend to them.
              .index-intro__left-item(style="background-image: url('assets/img/streamline-application-process.png')")
                h3 Streamline application process
                p Lengthy application form kills conversion. By automatically extract and verify digital data, our solution enables frictionless loan application and real-time credit decisioning.
              .index-intro__left-item(style="background-image: url('assets/img/reduce-fraud.png')")
                h3 Reduce fraud and credit risk
                p Our scoring solution gathers tens of thousands of data points to detect identity fraud, verify application data and evaluate credit risk.
              .index-intro__left-item(style="background-image: url('assets/img/cut-cost.png')")
                h3 Cut costs radically
                p Using big data, leading US online lenders have cut operating expenses by up to 50% comparing to traditional banking. We now make the technologies available to every lender worldwide.
          // a.button(href="#") Learn More
      section.index-what
        .container
          .index-what__items
            .index-what__left
              h2 What is TrustingSocial Score?
              p TrustingSocial Score measures creditworthiness of an online identity in three dimensions.
            .index-what__right
              img(src="assets/img/trusting-social-score.png", alt="")
          .index-what-features__items
            .index-what-features__item
              img(src="assets/img/authenticity.png", alt="authenticity")
              h3 Authenticity
              p Authenticity measures how likely an online identity is real and trustworthy. Our fraud detection algorithm makes sure there is no suspicious behaviors.
            .index-what-features__item
              img(src="assets/img/network-quality.png", alt="network quality")
              h3 Network quality
              p Network quality measures the depth of the network, based on interactions with other people and their background.
            .index-what-features__item
              img(src="assets/img/financial-credibility.png", alt="financial credibility")
              h3 Financial credibility
              p Financial credibility estimates a person's income percentile based on her work history and education.
      section.index-tech
        .container
          h2 Our Technology
          p Our technology was built for scalability, fast deployment and flexibility.
          .index-tech__items
            .index-tech__item
              img(src="assets/img/massive-social.png", alt="")
              .index-tech__item-content
                h3 Massive social and web data
                p Our global database on people and businesses worldwide enables us to have unprecedented insights on customers.
            .index-tech__item
              img(src="assets/img/cutting-edge.png", alt="")
              .index-tech__item-content
                h3 Cutting-edge machine learning technologies
                p We apply advanced data science to make sense of complex social data.
            .index-tech__item
              img(src="assets/img/fast-testing.png", alt="")
              .index-tech__item-content
                h3 Fast testing and implementation
                p You can get up and running with our pilot program in one day. See the value of social data to your business before subscribing to our solution.
            .index-tech__item
              img(src="assets/img/customizable.png", alt="")
              .index-tech__item-content
                h3 Customizable to your need
                p Our platform is flexible with modules tailored to social marketing, sale lead scoring, personalized offerings, and credit risk.
    footer
      .container
        img.footer-logo(src="assets/img/trusting-social-logo.svg", alt="trusting social logo", title="Trusting Social")
        p 
          small &copy; 2019 Trusting Social
        .footer-social-items
          a(href="https://www.facebook.com", target="_blank", rel="noopener noreferrer")
            img(src="assets/img/facebook-circle-black.svg", alt="facebook logo")
          a(href="", target="_blank", rel="noopener noreferrer")
            img(src="assets/img/twitter-circle-black.svg", alt="twitter logo")
          a(href="", target="_blank", rel="noopener noreferrer")
            img(src="assets/img/linkedin-circle-black.svg", alt="")
